<html>
  <head>
    <title>Create a gossip</title>
  </head>
  <body>
    <h1>Create a gossip!</h1>
    <p>Spill the beans using the form below</p>
    <form action='/gossips/new/' method='POST'>
      Nom de l'auteur: <input type='text' name='gossip_author'/><br/>
      Contenu du gossip: <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>
